---
layout: layouts/base.html
introHeading: "Coming soon and today!"
renderData:
    title: "Home Page"
---

<section data-background-color="aquamarine">
  <h2>{{ introHeading }} 🐟</h2>
  {% for data in home[0].body.outline %}
  {% if forloop.first %}
    <p>There are {{ forloop.length }} in collection</p>
  {% endif %}
    <p> {{ forloop.index0 }} - {{data[0]}}</p>
    {% if data[0] == 'outline' %}
        <p style="color:red"> there's more...</p>
        {% for inner_data1 in data[1] %}
           <p> {{ forloop.index0 }} - {{inner_data1.outline}}</p>
            {% if inner_data1[0] == 'outline' %}
                <p style="color:red"> there's more...</p>
                {% for inner_data2 in inner_data1[1] %}
                    <p> {{ inner_data2 }} </p>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
  {% else %}
  <!-- no data -->
  <p>missing content for home</p>
  {% endfor %}
</section>